@model GestionEmploiTemps.Web.Models.Matiere

@{
    ViewData["Title"] = "Modifier Matière";
}

<div class="bg-white rounded-xl shadow-lg p-6 max-w-2xl mx-auto">

    <h1 class="text-3xl font-bold text-blue-900 mb-6">
        Modifier Matière
    </h1>

    <form method="post" asp-action="Edit">

        <!-- 🔥 ID caché IMPORTANT -->
        <input type="hidden" asp-for="IdMatiere" />

        <div class="mb-6">

            <label class="block mb-2 font-medium">
                Nom Matière
            </label>

            <input asp-for="Nom"
                   class="w-full border p-3 rounded-lg focus:ring-2 focus:ring-blue-900 outline-none" />

        </div>

        <div class="flex gap-4">

            <button type="submit"
                    class="bg-blue-900 text-white px-5 py-3 rounded-lg hover:bg-blue-700">

                Enregistrer

            </button>

            <a asp-action="Index"
               class="bg-gray-500 text-white px-5 py-3 rounded-lg hover:bg-gray-700">

                Retour

            </a>

        </div>

    </form>

</div>