@{
    ViewData["Title"] = "Dashboard";
}

<div>

    <h1 class="text-3xl font-bold text-blue-900 mb-6">
        Tableau de bord
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">

        <!-- Carte Enseignants -->
        <div class="bg-white p-6 rounded-xl shadow-md">
            <h2 class="text-gray-500 text-sm">
                Enseignants
            </h2>

            <p class="text-3xl font-bold text-blue-900 mt-2">
                25
            </p>
        </div>

        <!-- Carte Salles -->
        <div class="bg-white p-6 rounded-xl shadow-md">
            <h2 class="text-gray-500 text-sm">
                Salles
            </h2>

            <p class="text-3xl font-bold text-blue-900 mt-2">
                12
            </p>
        </div>

        <!-- Carte Cours -->
        <div class="bg-white p-6 rounded-xl shadow-md">
            <h2 class="text-gray-500 text-sm">
                Cours
            </h2>

            <p class="text-3xl font-bold text-blue-900 mt-2">
                18
            </p>
        </div>

        <!-- Carte Emploi -->
        <div class="bg-white p-6 rounded-xl shadow-md">
            <h2 class="text-gray-500 text-sm">
                Emploi du Temps
            </h2>

            <p class="text-3xl font-bold text-blue-900 mt-2">
                7
            </p>
        </div>

    </div>

</div>